.blogBody{
	background-image: url("IMAGES/blog.jpg");
	background-attachment:fixed;
	background-size:cover;
  margin: 0;
} 
   
hr{
  width: 130px;
  margin-left: 578px;
  color: rgb(97, 169, 236); 
}

#topic{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: rgb(61, 152, 212);
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
}

#blogHeader h2{
  color: #d1b82a;
  font-size: 20px;
  text-align:center;
}

 /* Split the screen in half */
.blogSplit {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.blogImage {
    border: 3px solid #16151f;
    padding: 0px;
    margin-top: 100px;
    margin-left: 150px;
    height: 320px;
    width: 320px;
    background-color:none;      
}
  
.img2 {
    right: 0;
    margin-top: 50px;
}

.img {
    left:  0;
    margin-top: 50px;
}

  /*Button Two*/
.visit {
  border-radius: 4px;
  background-color:#67bbff;
  border-color: rgb(141, 141, 245);
  margin-left: 200px;
  width: 200px;
  transition: all 0.5s;
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
}


.visit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.visit span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.visit:hover span {
  padding-right: 25px;
}

.visit:hover span:after {
  opacity: 1;
  right: 0;
}

.time{                                                    /*Specifity with inline css*/
  padding-top: 480px;
  padding-left: 500px;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color: rgb(187, 82, 13);
}